# Note book for Viewing data in db

In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.26-cp38-cp38-win_amd64.whl (799 kB)
Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: protobuf>=3.0.0 in d:\devapps\anaconda\lib\site-packages (from mysql-connector-python) (3.14.0)

Requirement already satisfied: six>=1.9 in d:\devapps\anaconda\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.26

In [12]:
import mysql.connector

conn = mysql.connector.connect(
  host="localhost",
  user="user",
  password="password",
  database="properly_db"
)

print(conn)

<mysql.connector.connection.MySQLConnection object at 0x00000194EB1DC580>

In [13]:
import pandas as pd
kaggle_data_df=pd.read_sql_query("SELECT * FROM kaggle_data",conn)
print(kaggle_data_df.head())

           id      date_     price  bedrooms  bathrooms  sqft_living  \
0  7129300520 2014-10-13  221900.0         3       1.00         1180
1  6414100192 2014-12-09  538000.0         3       2.25         2570
2  5631500400 2015-02-25  180000.0         2       1.00          770
3  2487200875 2014-12-09  604000.0         4       3.00         1960
4  1954400510 2015-02-18  510000.0         3       2.00         1680

   sqft_lot  view  condition_  grade  sqft_above  yr_built  yr_renovated  \
0      5650     0           3      7        1180      1955             0
1      7242     0           3      7        2170      1951          1991
2     10000     0           3      6         770      1933             0
3      5000     0           5      7        1050      1965             0
4      8080     0           3      8        1680      1987             0

  zipcode      lat    long_  sqft_living15  sqft_lot15
0   98178  47.5112 -122.257           1340        5650
1   98125  47.7210 -122.319           1690        7639
2   98028  47.7379 -122.233           2720        8062
3   98136  47.5208 -122.393           1360        5000
4   98074  47.6168 -122.045           1800        7503

In [16]:
api_df=pd.read_sql_query("SELECT * FROM socrata_data",conn)
print(api_df.head())

        id permit_               permit_type      review_type  \
0  1000268  116939  PERMIT - ELECTRIC WIRING  EASY PERMIT WEB
1  1000581  117154  PERMIT - ELECTRIC WIRING  EASY PERMIT WEB
2  1000582  117155  PERMIT - ELECTRIC WIRING  EASY PERMIT WEB
3  1000601  117174  PERMIT - ELECTRIC WIRING  EASY PERMIT WEB
4  1000827  117276  PERMIT - ELECTRIC WIRING  EASY PERMIT WEB

  application_start_date issue_date processing_time street_number  \
0             2002-06-28 2002-06-28            1835          1212
1             2002-07-01 2002-07-01            1832          6355
2             2002-07-01 2002-07-01            1832          8335
3             2002-07-01 2002-07-01            1832           315
4             2002-07-02 2002-07-02            1831          6388

  street_direction          street_name  ... other_fee_unpaid subtotal_unpaid  \
0                W            FULLERTON  ...                0               0
1                S  DR MARTIN L KING JR  ...                0               0
2                W              HIGGINS  ...                0               0
3                N               WABASH  ...                0               0
4                N              NOKOMIS  ...                0               0

  building_fee_waived zoning_fee_waived other_fee_waived subtotal_waived  \
0                   0                 0                0               0
1                   0                 0                0               0
2                   0                 0                0               0
3                   0                 0                0               0
4                   0                 0                0               0

  total_fee reported_cost latitude longitude
0        50             0  41.9254  -87.6590
1        60             0  41.7786  -87.6154
2        40             0  41.9861  -87.8356
3        40             0  41.8873  -87.6264
4        50             0  41.9972  -87.7597

[5 rows x 28 columns]

Index(['id', 'permit_', 'permit_type', 'review_type', 'application_start_date',
       'issue_date', 'processing_time', 'street_number', 'street_direction',
       'street_name', 'suffix', 'work_description', 'building_fee_paid',
       'other_fee_paid', 'subtotal_paid', 'building_fee_unpaid',
       'zoning_fee_unpaid', 'zoning_fee_paid', 'other_fee_unpaid',
       'subtotal_unpaid', 'building_fee_waived', 'zoning_fee_waived',
       'other_fee_waived', 'subtotal_waived', 'total_fee', 'reported_cost',
       'latitude', 'longitude'],
      dtype='object')